/* This file is for your main application css. */
#app {
  display: flex;
}

#sidebar {
  flex: 1;
}

#main-details {
  flex: 4;
}

#messages {
  min-height: 600px;
}

#new-message textarea{
  width: 100%;
}
